@media (max-width: 1241px) {
    /* banner */
    .banner__row {
        width: 720px;
    }

    .search-form__input {
        width: 260px;
    }

    .search__col-middle {
        width: 264px;
    }

    .search-form__input_sm {
        width: 64px;
    }

    .search-form__tab li label {
        width: 100px;
        margin-right: 0;
        padding-left: 12px;
    }

    .search-form__btn {
        width: 200px;
    }


    /* about */

    .about {
        padding-bottom: 80px;
    }

}

@media (max-width: 992px) {
    /* banner */

    .banner__inner {
        padding-top: 150px;
    }

    .banner__row {
        margin: 0 auto;
        min-height: 134px;
        width: 280px;
        display: block;
    }

    .search__col {
        margin: 5px auto;
        min-width: 242px;
    }

    .search__col-middle {
        margin: 5px auto;
        max-width: 242px;
    }

    .search-form__select-selected {
        border-radius:  5px 5px 0 0;
    }

    .search-form__input {
        width: 242px;
        margin: 0 auto;
    }

    .search-form__tab li label {
        width: 121px;
    }

    .search-form__tab li:nth-child(2n) label {
        border-radius: 0;
    }

    .search-form__tab-rooms li:nth-child(1) label {
        border-radius: 0;
    }

    .search-form__tab-rooms li:nth-child(5) label {
        width: 72px;
    }

    .search-form__group {
         display: block;
    }

    .search-form__input_sm {
        width: 121px;
        margin-top: 5px;
        margin-right: -5px;
        margin-left: 0;
        border-left: 1px solid #dddddd;
    }

    .search-form__checkbox-container {
        width: 240px;
        margin-top: 5px;
    }

    .search-form__btn {
        width: 241px;
        border-radius: 0 0 5px 5px;
    }

    .banner__btn {
        padding-top: 100px;
        padding-bottom: 30px;
    }

}

@media (max-width: 770px) {

    /* banner */

    .header__inner {
        display: block;
    }

    .header__part {
        justify-content: space-between;
    }

    .header__part:nth-child(2) {
        justify-content: center;
        margin-top: 20px;
    }

    /*about*/

    .about__item__img-container {
        margin-left: auto;
        margin-right: auto;
    }

    .about__item__text {
        text-align: center;
    }

    .about__item__title {
        text-align: center;
    }

    /* how */

    .tab button {
        display: inline-block;
    }

    .tabcontent__point {
        text-align: center;
    }

    /* ads */

    .card__title {
        text-align: center;
    }

    /* reviews */

    .reviews__item__img-container {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }

    .reviews__item__title {
        text-align: right;
    }

    .reviews__item__text {
        text-align: justify;
    }

    .reviews__items {
        margin-bottom: 40px;
    }


    /*  footer */

    .footer__section{
        text-align: center;
    }

    .footer__inner p, .footer__inner a {
        text-align: center;
    }

    .footer__logo {
        text-align: center;
    }

    .footer__section {
        justify-content: center;
    }

    .footer__bottom {
        text-align: center;
    }

    .copyright {
        text-align: center;
    }

}
