@media (max-width: 1241px) {
    /* banner */
    .banner__row {
        width: 720px;
    }

    .search-form__input {
        width: 260px;
    }

    .search__col:nth-child(3n) {
         width: 200px;
    }

    .search__col-middle {
        width: 260px;
    }

    .search-form__input_sm {
        width: 65px;
    }

    .search-form__tab-rooms {
        width: 247px;
    }

    .search-form__tab li label {
        width: 100px;
        margin-right: 0;
        padding-left: 12px;
    }

    .search-form__tab-rooms li label {
        margin-left: 0;
    }

    .search-form__group {
        margin-left: 0;
    }

    .search-form__checkbox-container {
        width: 130px;
    }

    .search-form__tab-rooms li:nth-child(5) label {
        width: 75px;
    }

    .search-form__btn {
        width: 200px;
    }

    /* about */

    .about {
        padding-bottom: 80px;
    }

}

@media (min-width: 993px) {
    .menu-btn {
        display: block;
    }
}

@media (max-width: 992px) {

    /* header */

    .menu-toggle {
        display: inline-block;
        border: none;
        background-color: transparent;
        padding: 0;
    }

    .menu-toggle:focus {
        outline: none;
    }

    .menu-toggle:hover span{
        background-color: #38edce;
    }

    .menu-toggle span {
        height: 3px;
        display: block;
        background-color: #36d1b2;
        width: 30px;
    }

    .menu-toggle span + span {
        margin-top: 6px;
    }

    .header__part {
        position: relative;
    }

    .menu-btn {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        padding: 30px 20px;
        background-color: #868686;
        z-index: 1;
        border-radius: 4px;
    }

    .menu-btn a{
        border: none;
        margin: 10px 0;
    }

    .header__btn {
        font-size: 16px;
        color: #ffffff;
    }

    .header__btn_border {
        padding: 10px 0;
    }

    /* banner */

    .banner__inner {
        padding-top: 150px;
    }

    .banner__row {
        margin: 0 auto;
        min-height: 134px;
        width: 280px;
        display: block;
    }

    .search__col {
        margin: 5px auto;
        min-width: 242px;
    }

    .search__col-middle {
        margin: 5px auto;
        max-width: 242px;
    }

    .search-form__select-selected {
        border-radius:  5px 5px 0 0;
    }

    .search-form__input {
        width: 242px;
        margin: 0 auto;
    }

    .search-form__tab li label {
        width: 121px;
    }

    .search-form__tab li:nth-child(2n) label {
        border-radius: 0;
    }

    .search-form__tab-rooms li:nth-child(1) label {
        border-radius: 0;
    }

    .search-form__tab-rooms li:nth-child(5) label {
        width: 72px;
    }

    .search-form__group {
         display: block;
    }

    .search-form__input_sm {
        width: 121px;
        margin-top: 5px;
        margin-right: -5px;
        margin-left: 0;
        border-left: 1px solid #dddddd;
    }

    .search-form__checkbox-container {
        width: 240px;
        margin-top: 5px;
    }

    .search-form__btn {
        width: 241px;
        border-radius: 0 0 5px 5px;
    }

    .banner__btn {
        padding-top: 100px;
        padding-bottom: 30px;
    }

}

@media (max-width: 767px) {

    /*about*/

    .about__item__img-container {
        margin-left: auto;
        margin-right: auto;
    }

    .about__item__text {
        text-align: center;
    }

    .about__item__title {
        text-align: center;
    }

    /* how */

    .tab {
        display: flex;
    }

    .tab button.active:after {
        content: none;
    }

    .tabcontent__point {
        text-align: center;
    }

    /* ads */

    .card__title {
        text-align: center;
    }

    .ads__card {
        max-width: 420px;
        margin-right: auto;
        margin-left: auto;
    }

    /* reviews */

    .reviews__item__img-container {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }

    .reviews__item__title {
        text-align: right;
    }

    .reviews__item__text {
        text-align: justify;
    }

    .reviews__items {
        margin-bottom: 40px;
    }


    /*  footer */

    .footer__section{
        text-align: center;
    }

    .footer__inner p, .footer__inner a {
        text-align: center;
    }

    .footer__logo {
        text-align: center;
    }

    .footer__section {
        justify-content: center;
    }

    .footer__bottom {
        text-align: center;
    }

    .copyright {
        text-align: center;
    }

}

@media (max-width: 520px) {

    .title_gray {
        font-size: 28px;
    }

    /* header */

    .header__part {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .logo {
        padding-bottom: 20px;
    }

    .menu-toggle {
        padding: 30px 0 0;
    }

    /* banner */

    .search-form__title {
        padding-top: 30px;
        font-size: 28px;
    }

    /* about */

    .services__social {
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }

    .services__btn {
        display: inline-block;
        margin: 20px 0;
    }

    /* how */

    .tab button {
        font-size: 14px;
    }

    .tab button.active {
        font-size: 14px;
    }

    /* ads */

    .ads__card {
        max-width: 310px;
        margin-right: auto;
        margin-left: auto;
    }
}
