body {
    font-family: 'Fira Sans', sans-serif;
}

.title_gray {
    font-size: 36px;
    line-height: 1.82;
    text-align: center;
    color: #3c4450;
    font-weight: 500;
}

.subtitle_gray {
    font-size: 22px;
    line-height: 1.82;
    text-align: center;
    color: #707984;
}

.section__inner {
    display: block;
    text-align: center;
    width: 100%;
    margin: auto;
}

/* header */

header {
    display: flex;
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    align-items: center;
    color: #ffffff;
}

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    background: url("../img/banner-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: show_header;
    animation-duration: 1s;
    z-index: 1;
    width: 100%;
}

.header-fixed::after {
    content:'';
    display: block;
    position: absolute;
    height: 1px;
    background-color: transparent;
    width: 100%;
    top: 100%;
    margin-top: 20px;
}

@keyframes show_header {
    0%{
        opacity: 0;
        top: -70px;
    }
    100%{
        opacity: 1;
        top: 0;
    }
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.logo a {
    min-width: 163px;
    min-height: 58px;
    display: inline-block;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    margin-right: 40px;
}

header::after {
    content:'';
    display: block;
    position: absolute;
    height: 1px;
    background-color: #909196;
    width: 100%;
    top: 100%;
    margin-top: 20px;
}

.header__btn {
    font-size: 16px;
    color: #ffffff;
    margin: 0 20px;
}

.header__btn:hover  {
    text-decoration: none;
    color: #36d1b2;
}

.header__btn_border {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: 10px 22px;
    color: #ffffff;
    border: 2px solid #36d1b2;
    border-radius: 4px;
}

.header__part {
    display: flex;
    align-items: center;
}

/*header__select*/

.header__select {
    position: relative;
}

.header__select select {
    -webkit-appearance: none;
    appearance: none;
    width: 245px;
    border: 0;
    font-family: inherit;
    font-size: 16px;
    color: #ffffff;
    padding-right: 25px;
    background: url("../img/select-arrow.png");
    background-repeat: no-repeat;
    background-position-x: 235px;

}

.menu-toggle {
    display: none;
}

.select-items {
    position: absolute;
    color: #5e697b;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.header__select select {
    display: none;
}

.header__select-selected {
    width: 242px;
    font-size: 16px;
    color: #ffffff;
    padding-right: 25px;
    background: url("../img/select-arrow.png");
    background-repeat: no-repeat;
    background-position-x: 160px;
    background-position-y: 15px;
}

.header__select-selected:after {
    position: absolute;
    content: "";
    background: url("../img/select-arrow-gray.png");
    background-position-x: 220px;
}

.header__select-selected.select-arrow-active {
    width: 242px;
    background: url("../img/select-arrow-gray-back.png") no-repeat right white;
    background-position-x: 220px;
    border-radius: 5px 5px 0 0;
    border-color: #36d1b2 #36d1b2 rgba(0, 0, 0, 0.1) #36d1b2;
    top: 7px;
    color: #5e697b;
    font-size: 14px;
}

.header__select-selected {
    color: #ffffff;
    padding: 12px;
    border: 2px solid transparent;
    border-radius: 5px 0 0 0;
    cursor: pointer;
}

.select-items div {
    color: #5e697b;
    padding: 12px;
    border: 2px solid transparent;
    border-radius: 5px 0 0 0;
    cursor: pointer;
}

.select-items {
    position: absolute;
    width: 242px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 0 0 5px 5px;
    border: 2px solid;
    border-color: transparent #36d1b2 #36d1b2 #36d1b2;
}

.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

/* banner */

.banner {
    min-height: 620px;
    background: url("../img/banner-bg.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.banner__inner {
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 230px;
}

.banner__row {
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    width: 820px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__col {
    display: block;
    margin-right: 5px;
    width: 242px;
}

.search__col-middle {
    display: block;
    margin-right: 5px;
    width: 325px;
}

.search-form__title {
    font-size: 36px;
    font-style: normal;
    line-height: 1.28;
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
}

.search-form__input {
    width: 325px;
    height: 41px;
    font-size: 13px;
    line-height: 1.62;
    text-align: left;
    color: #5e697b;
    padding: 10px 15px;
    border: none;
 }

.search-form__input:focus {
    outline-color: #36d1b2;
}

.search-form__input_sm {
    width: 97px;
    border: none;
    border-right: 1px solid #dddddd;
}

.search-form__checkbox-container {
    background: #ffffff;
    width: 131px;
    height: 41px;
}

.search-form__group {
    display: inline-flex;
    margin-left: -2px;
}

.checkbox {
    position: relative;
}

.checkbox__input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.checkbox__label {
    padding-left: 45px;
    padding-top: 13px;
    font-size: 13px;
    line-height: 1.23;
    color: #5e697b;
    cursor: pointer;
}

.checkbox__label::before {
    content: "";
    display: block;
    width: 17px;
    height: 16px;
    border-radius: 3px;
    position: absolute;
    top: 12px;
    left: 20px;
    z-index: 1;
    transition: background .1s linear, border .1s linear;
    background-color: rgba(54, 54, 54, 0.14);
}

.checkbox__label::after {
    font-family: FontAwesome;
    content: "\f00c";
    color: #ffffff;
    display: block;
    width: 17px;
    height: 16px;
    opacity: 0;
    position: absolute;
    top: 14px;
    left: 22px;
    z-index: 2;
    transition: opacity .1s linear;
}

.checkbox__input:hover + .checkbox__label::before {
    background-color: rgba(84, 84, 84, 0.26);
}

.checkbox__input:checked + .checkbox__label::before {
    background: #36d1b2;
}

.checkbox__input:checked + .checkbox__label::after {
    opacity: 1;
}

.search-form__tab {
    list-style-type:none;
    margin: 0;
    padding:0;
    width: 242px;
}
.search-form__tab li {
    float: left;
    padding: 0;
    margin: 0;
}

.search-form__tab li label {
    margin-left: -4px;
    width: 120px;
    height: 41px;
    background: #ffffff;
    padding: 10px 20px;
    font-size: 13px;
    line-height: 1.62;
    text-align: center;
    color: #5e697b;
    display: inline-block;
    cursor: pointer;
}

.search-form__tab li:nth-child(2n) label {
    /*margin-left: -5px;*/
    border-radius: 0 5px 0 0;
}

.search-form__tab li input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.search-form__tab li input[type="radio"]:checked ~ label {
    background: #36d1b2;
    color: #ffffff;
}

/*-----------rooms_tab-------------*/

.search-form__tab-rooms {
    list-style-type:none;
    margin: 0;
    padding:0;
    width: 242px;
}
.search-form__tab-rooms li {
    float: left;
    padding: 0;
    margin-top: -13px;
    width: 42px;
}

.search-form__tab-rooms li label {
    margin-left: -2px;
    width: 42px;
    height: 41px;
    padding: 10px 15px;
    background: #ffffff;
    font-size: 13px;
    line-height: 1.62;
    text-align: center;
    color: #5e697b;
    display: inline-block;
    cursor: pointer;
    border-right: 1px solid #dddddd;
}

.search-form__tab-rooms li:nth-child(5) label {
    width: 75px;
}

.search-form__tab-rooms li:nth-child(1) label {
    border-radius: 0 0 0 5px;
}

.search-form__tab-rooms li input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.search-form__tab-rooms li input[type="radio"]:checked ~ label {
    background: #36d1b2;
    color: #ffffff;
}

/*-----------search-form__select-------------*/

.search-form__select {
    position: relative;
}

.search-form__select select {
    -webkit-appearance: none;
    appearance: none;
    width: 242px;
    height: 41px;
    padding: 15px 0px 15px 15px;
    border: 0;
    border-radius: 5px 0 0 0;
    font-size: 13px;
    color:  #5e697b;
    background: url("../img/select-arrow-gray.png") no-repeat center right white;
    background-position-x: 235px;
}

.select-items {
    position: absolute;
    color: #5e697b;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.search-form__select select {
    display: none;
}

.search-form__select-selected {
    width: 242px;
    height: 41px;
    padding: 12px;
    background: url("../img/select-arrow-gray.png") no-repeat right white;
    background-position-x: 220px;
}

.search-form__select-selected:after {
    position: absolute;
    content: "";
    background: url("../img/select-arrow-gray.png");
    background-position-x: 220px;
}

.search-form__select-selected.select-arrow-active {
    background: url("../img/select-arrow-gray-back.png") no-repeat right white;
    background-position-x: 220px;
    border-radius: 5px 5px 0 0;
    border-color: #36d1b2 #36d1b2 rgba(0, 0, 0, 0.1) #36d1b2;
    top: 7px;
}

.select-items div,.search-form__select-selected {
    color: #5e697b;
    padding: 12px;
    border: 2px solid transparent;
    border-radius: 5px 0 0 0;
    cursor: pointer;
}

.select-items {
    position: absolute;
    width: 242px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 0 0 5px 5px;
    border: 2px solid;
    border-color: transparent #36d1b2 #36d1b2 #36d1b2;
}

.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.search-form__btn {
    width: 241px;
    height: 41px;
    background-image: linear-gradient(to top, #42d79f, #26c8cb);
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
    color: #ffffff;
    border: none;
    border-radius: 0 0 5px 0;
    margin-left: -1px;
}

.search-form__btn:hover {
    background-image: linear-gradient(to top, #3dc18e, #24afb2);
}

.banner__btn {
    text-align: center;
    align-items: center;
    padding-top: 170px;
}

.banner__btn i:hover {
    color: #36d1b2;
}

.banner__btn-arrow i{
    color: white;
    font-size: 30px;
    cursor: pointer;
}

/* services */

.services {
    min-height: 1050px;
    background: url("../img/services-bg.png");
    background-position-y: 170px;
    background-repeat: no-repeat;
}

.services__inner {
    display: block;
    max-width: 750px;
    width: 100%;
    margin: auto;
    padding-top: 90px;
}

.services__video iframe {
    border: none;
    border-radius: 10px;
}


.videoWrapper {
    position: relative;
    width: 100%;
    height: 0;
}

.videoWrapper iframe{
    border-radius: 10px;
}
.videoWrapper43 {
    padding-top: 75%;
}
.videoWrapper169 {
    padding-top: 56%;
}
.videoIframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.videoPoster {
    position: absolute;
    background-image: url("../img/video.png");
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    outline: none;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-size: cover;
    text-indent: -999em;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: opacity 800ms, height 0s;
    -moz-transition: opacity 800ms, height 0s;
    transition: opacity 800ms, height 0s;
    -webkit-transition-delay: 0s, 0s;
    -moz-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
}
.videoPoster:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    border: 5px solid #fff;
    border-radius: 100%;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms;
}
.videoPoster:after {
    content: '';
    position: absolute;
    top: 49%;
    left: 50%;
    width: 0;
    height: 0;
    margin: -20px 0 0 -10px;
    border-left: 35px solid #fff;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms;
}
.videoPoster:hover:before, .videoPoster:focus:before {
    border-color: #3DC18E;
}
.videoPoster:hover:after, .videoPoster:focus:after {
    border-left-color: #3DC18E;
}
.videoWrapperActive .videoPoster {
    opacity: 0;
    height: 0;
    -webkit-transition-delay: 0s, 800ms;
    -moz-transition-delay: 0s, 800ms;
    transition-delay: 0s, 800ms;
}


.services__title {
    font-size: 36px;
    font-weight: 500;
    text-align: left;
    line-height: 1.33;
    color: #3c4450;
    padding: 45px 0 35px 10px;
}

.services__title:after {
    content:'';
    display: block;
    width: 46px;
    height: 5px;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    margin-top: 30px;
    /*border-image-source: linear-gradient(to top, #42d79f, #27c8ca);*/
    /*border-image-slice: 1;*/
    border-color: #25ce98;
    background-color: #25ce98;
}

.services__text {
    font-size: 16px;
    line-height: 1.63;
    text-align: left;
    color: #707984;
    padding-left: 10px;
}

.services__social {
    display: flex;
    text-align: left;
    padding-right: 10px;
}
.services__btn {
    display: inline-block;
    margin: 30px 30px 30px 10px;
    line-height: 2.25;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #3c4450;
    border-radius: 4px;
    padding: 2px;
    background: linear-gradient(to bottom, #25ce98,  #27c8ca), linear-gradient(to top, #42d79f, #25ce98);
}

.services__btn:hover {
    text-decoration: none;
    color: #25ce98;
}

.services__btn_vk {
    display: block;
    border-radius: 4px;
    padding: 5px 15px 5px 60px;
    background:  url("../img/social-vk.png") no-repeat left  #fff;
    background-position-x: 15px;
}

.services__btn_tg {
    display: block;
    border-radius: 4px;
    padding: 5px 15px 5px 60px;
    background:  url("../img/social-tg.png") no-repeat left #fff;
    background-position-x: 15px;
}

/* about */

.about {
    min-height: 920px;
}

.about__item {
    margin-top: 50px;
}

.about__item__img-container {
    display: block;
    width: 125px;
    height: 125px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    box-shadow: 0 10px 10px 5px #f4f4f4;
    margin-bottom: 30px;
}

.about__item__title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    color: #3c4450;
}

.about__item__text {
    font-size: 16px;
    line-height: 1.63;
    text-align: left;
    color: #707984;
}

/* ellipse-bg */

.ellipse-bg {
    background: url("../img/services-bg.png"), url("../img/ellipse-right.png");
    background-repeat: no-repeat;
    background-position: left, right;
    background-position-y: 480px, 800px;

}

/* how-it-works */

.how {
    min-height: 750px;
}

.how__tabs {
    text-align: left;
    padding-top: 70px;
}

.tab button {
    /*min-width: 276px;*/
    /*min-height: 78px;*/
    text-decoration: none;
    display: inline-block;
    background-color: #ffffff;
    border: none;
    padding: 15px 25px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
    color: #707984;
    margin-bottom: 10px;
}

.tab button:hover {
    color: #c9c9c9;
}

.tab button:focus {
    text-decoration: none;
    outline: none;
}

.tab button.active {
    text-decoration: none;
    display: inline-block;
    padding: 15px 25px;
    position: relative;
    /*min-width: 276px;*/
    /*min-height: 78px;*/
    /*background: url("../img/tab.png") no-repeat center;*/
    /*border: 1px solid #86cfda;*/
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
    color: #3c4450;
    box-shadow: 0px 5px 10px 5px #f2f2f2;
    z-index: 2;
}

.tab button.active:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    /*border-top: 15px solid transparent;*/
    /*border-left: 15px solid red;*/
    /*border-bottom: 15px solid transparent;*/
    /*box-shadow: 3px 10px 5px #f2f2f2;*/
    /*top: 30px;*/
    /*right: -15px;*/

    top: 33%;
    right: -13px;
    background: white;
    border: 13px solid transparent;
    transform: rotate(45deg);
    box-shadow: 0 0 15px 0 #f2f2f2;
    z-index: 1;
}

.how__tabcontent {
    display: none;
    /*-webkit-animation: fadeEffect 1s;*/
    /*animation: fadeEffect 1s;*/
}

.tabcontent__point {
    margin: 0;
    padding-right: 5px;
    font-size: 100px;
    font-family: Roboto;
    background: linear-gradient(to top, #42d79f, #26c8cb), linear-gradient(to bottom, #25ce98, #25ce98);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tabcontent__title {
    padding-top: 2px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    color: #3c4450;
}

.tabcontent__text {
    font-size: 16px;
    line-height: 1.63;
    color: #707984;
    margin-bottom: 55px;
}

/* ads */

.ads {
    min-height: 675px;
}

.ads__cards {
    padding-top: 80px;
}

.ads__card {
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 0 0 5px 5px;
    background-color: #ffffff;
}

.ads__card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card__img {
    width: 100%;
}

.card__container {
    padding: 10px;
    text-align: left;
    font-size: 11px;
    font-weight: 500;
    line-height: 2.32;
    color: #3c4450;
}

.card__title {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.38;
    text-align: left;
    color: #3c4450;
}

.card__title:after {
    position: relative;
    width: 100%;
    margin-top: 15px;
    content: '';
    display: block;
    height: 1px;
    background-color: #dddddd;
}

.card__warning {
    padding: 3px 0 0 20px;
    background: url("../img/icon-warning.png") no-repeat left;
}

.card__metro {
    padding: 3px 0 0 20px;
    background: url("../img/icon-metro.png") no-repeat left;
}

.card__address {
    padding: 3px 0 0 20px;
    background: url("../img/icon-address.png") no-repeat left;
    background-position-y: 10px;
}

.card__bottom-details:before {
    position: relative;
    width: 100%;
    margin: 10px 0;
    content: '';
    display: block;
    height: 1px;
    background-color: #dddddd;
}

.card__address:after {

}

.card__price {
    font-size: 13px;
    font-weight: bold;
    line-height: 2;
}

.col__card-like {
    padding: 0;
}

.col__card-comments {
    padding: 0;
}

.card__like {
    padding: 3px 0 0 20px;
    text-align: right;
    background: url("../img/icon-heart.png") no-repeat left;
    color: #3c4450;
}

.card__like:hover {
    text-decoration: none;
    opacity: 0.4;
}

.card__comments {
    margin-left: 5px;
    padding: 3px 0 0 30px;
    background: url("../img/icon-comment.png") no-repeat left;
    background-position-x: 5px;
    color: #3c4450;
}

.card__comments:hover {
    text-decoration: none;
    opacity: 0.5;
}

.ads__btn-container {
    margin: 60px auto;
}

.ads__btn {
    display: inline-block;
    text-decoration: none;
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
    line-height: 2.25;
    text-align: center;
    color: #3c4450;
    max-width: 205px;
    background: linear-gradient(to bottom, #25ce98,  #27c8ca), linear-gradient(to top, #42d79f, #25ce98);
    border-radius: 4px;
}

.ads__btn:hover {
    text-decoration: none;
    color: #25ce98;
}

.ads__btn__inner{
    background: #fff;
    display: block;
    border-radius: 4px;
    padding: 10px 30px;
}

/* reviews */

.reviews {
    min-height: 635px;
}

.reviews__item {
    margin-top: 60px;
}

.reviews__item__img-container {
    display: block;
    width: 130px;
    height: 130px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 7px solid #ffffff;
    box-shadow: 3px 10px 5px #f2f2f2;
}

.reviews__item__title {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #3c4450;
}

.reviews__item__text {
    font-size: 16px;
    line-height: 1.63;
    text-align: left;
    color: #707984;
    padding-bottom: 25px;
}

/* footer */

footer {
    padding-top: 40px;
    min-height: 300px;
    background-color: #43484d;
}

.footer__inner:after {
    content: '';
    display: block;
    margin-top: 40px;
    width:100%;
    height: 1px;
    opacity: 0.1;
    background-color: #ffffff;
}

.footer__logo a {
    margin-top: 40px;
    display: inline-block;
    min-width: 163px;
    min-height: 58px;
    background-image: url("../img/footer-logo.png");
    background-repeat: no-repeat;
}

.footer__section {
    display: block;
}

.footer__section p {
    opacity: 0.5;
    font-size: 13px;
    font-weight: 600;
    line-height: 2.69;
    text-align: left;
    color: rgba(255, 255, 255, 0.3);
}

.footer__section a {
    display: block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.69;
    text-align: left;
    color: #ffffff;
}

.footer__section a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
}

.footer__social-links {
    display: inline-flex;
}

.footer__social-links a:hover {
    opacity: 0.5;
}

.social-link_tg a {
    margin-right: 10px;
    width: 36px;
    height: 36px;
    display: inline-block;
    background-image: url("../img/social-link-tg.png");
    background-repeat: no-repeat;
}

.social-link_vk a {
    width: 36px;
    height: 36px;
    display: inline-block;
    background-image: url("../img/social-link-vk.png");
    background-repeat: no-repeat;
}

.footer__bottom {
    margin-top: 30px;
}

.contacts {
    font-size: 13px;
    line-height: 2.69;
    text-align: left;
    color: #ffffff;
}

.contacts:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
}

.copyright {
    opacity: 0.5;
    font-size: 13px;
    line-height: 2.77;
    text-align: left;
    color: rgba(255, 255, 255, 0.3);
}